version: '3'
services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:stable
    volumes:
      - $HOME/docker/home-assistant/config:/config:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    environment:
      - TZ=Europe/Amsterdam
    network_mode: host
    privileged: true
    
 
  esphome:
    container_name: esphome
    image: esphome/esphome:latest
    volumes:
      - $HOME/docker/esphome:/config:rw
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    restart: always
    
  

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    network_mode: bridge
    labels:
      - watchtower
